<% classes ||= "" %>
<% image_path ||= "https://images.unsplash.com/photo-1531141445733-14c2eb7d4c1f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bWVuJTIwdHJhdmVsfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" %>

<div class="avatar <%= classes %>">
	<%= image_tag image_path, class: 'object-cover' %>
</div>