<div class="w-screen h-screen pb-14">
  <div data-controller="map"
        data-map-target="container"
        class="w-full h-full bg-gray-100"
        data-map-mapbox-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>