.animated {
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.animated-duration-300 {
  animation-duration: 0.3s;
}
.animated-duration-400 {
  animation-duration: 0.4s;
}
.animated-duration-500 {
  animation-duration: 0.5s;
}
.animated-duration-600 {
  animation-duration: 0.6s;
}
.animated-duration-700 {
  animation-duration: 0.7s;
}
.animated-duration-800 {
  animation-duration: 0.8s;
}
.animated-duration-900 {
  animation-duration: 0.9s;
}
.animated-duration-1000 {
  animation-duration: 1s;
}

.animated-duration-2000 {
  animation-duration: 2s;
}

@keyframes fadeIn {
  from {
    // transform: scale(0.99);
    opacity: 0;
  }

  to {
    // transform: scale(1);
    opacity: 1;
  }
}

.fadeIn {
  animation-timing-function: ease-out;
  animation-name: fadeIn;
}


@keyframes fadeOut {
  from {
    // transform: scale(1);
    opacity: 1;
  }

  to {
    // transform: scale(0.95);
    opacity: 0;
  }
}

.fadeOut {
  animation-timing-function: ease-out;
  animation-name: fadeOut;
}

@keyframes fadeOutShrink {
  from {
    max-height: 150px;
    transform: scale(1);
    opacity: 1;
    overflow: scroll;
  }

  to {
    max-height: 0px;
    transform: scale(0);
    opacity: 0;
    overflow: scroll;
    padding: 0px;
    display: none;
  }
}

.fadeOutShrink {
  animation-timing-function: ease-out;
  animation-name: fadeOutShrink;
}

@keyframes fadeInExpand {
  from {
    max-height: 0px;
    transform: scale(0);
    opacity: 0;
    overflow: scroll;
  }

  to {
    max-height: 200px;
    transform: scale(1);
    opacity: 1;
    overflow: scroll;
  }
}

.fadeInExpand {
  animation-timing-function: ease-out;
  animation-name: fadeInExpand;
}

@keyframes highlight {
  0% {
    background: #ffd70036;
  }

  80% {
    background: #ffd70036;
  }

  100% {
    background: #ffffff00;
  }
}

.highlight {
  animation-timing-function: ease-out;
  animation-name: highlight;
}