<!DOCTYPE html>
<html class="antialiased">
  <%= render "shared/head" %>

  <body class="font-body font-normal font-sans leading-normal text-gray-800 bg-white">
    <%= render "shared/flash_notice" %>

    <main>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>

    <%= render "shared/navbar" %>
  </body>
</html>
